{% extends 'Inventory/base.html' %}

{% load crispy_forms_tags %}

{% block title %}: Delete {% endblock %}

{% block content %}
<div class="container">
    <form method="post">
        {% csrf_token %} 
        <div class="form-row">
            <h1>Delete Confirmation Form:</h1>
        </div>
    
        <div class="form-row">
            <div class="form-group">
                <p>Are you sure you want to delete "{{ project.title }}"?</p> 
            </div>

            <div class="container">
                <div class="card mb-2" >
                    
                    <h1 class="card-title" style="text-align: center;">{{project.title}}</h1>
                    <img class="card-img-top" src="{{project.image.url}}" alt="Image of {{project.title}}" style="max-width: 400px; margin:auto;">
                    <div class="card-body">
                      <h5 class="card-title">{{ project.title}} for {{project.purpose}}</h5>
                      <p class="card-text"><small class="text-muted">Deadline: {{project.deadline}}</small></p>
                      <p class="card-text">Hook: {{ project.hook }}</p>
                      <h5 class="card-title">Yarn required:</h5>
                      <ul>
                        {% for yarn in project.yarn.all %}
                          <li>{{yarn}}</li>
                        {% endfor %}
                      </ul>
                        
                      <h5 card-title>Pattern:</h5>
                      <p class="card-text">{{project.pattern|safe}}</p>

                      <div class="form-row">
                        <div class="form-group col-md-10">
                            <input type="submit" value="Delete" class="btn btn-danger btn-lg">
                        </div>
                        <div class="form-group col-md-2">
                            <a class="btn btn-secondary btn-lg" href="{% url 'project-detail' pk=project.id %}">Cancel</a>
                        </div>
                    </div>
                      
                    </div>
                    
                  </div>
            </div>
           
        </div>
        
        
    </form> 
</div>


{% endblock %}