{% extends 'Inventory/base.html' %}

{% block title %} : {{ yarn.color }} {%endblock%}

{% block content %}
<div class="container">
    <div class="card mb-2" >
        
        <h1 class="card-title" style="text-align: center;">{{yarn.color}}</h1>
        <img class="card-img-top" src="{{yarn.image.url}}" alt="Image of {{yarn.color}}" style="max-width: 400px; margin:auto;">
        <div class="card-body">
          <h5 class="card-title">{{ yarn.color }} by {{yarn.brand}}</h5>
<div class="card-row">
    <div class="card-group">
        <div class="col-md-4">
            <p class="card-text">Weight {{yarn.weight}}</p>
          </div>
          <div class="col-md-4">
            <p class="card-text">Hook: {{ yarn.hook }}</p>
          </div>
          <div class="col-md-4">
            <p class="card-text">Grams: {{yarn.grams}}</p>
          </div>
    </div>
    
</div>
<br>
<div class="card-row">
    <div class="card-group">
        <div class="col-md-4">
            <p class="card-text">Amount: {{yarn.amount}}</p>
          </div>
          <div class="col-md-4">
            <p class="card-text">Yards: {{ yarn.yards }}</p>
          </div>
          <div class="col-md-4">
            <p class="card-text">Color Group: {{yarn.color_group}}</p>
          </div>
    </div>
    
</div>        
<br>
<div class="card-row">
    <div class="card-group">
        <h5 class="card-title">Care Instructions:</h5>
        <div class="col-md-12">
            <p class="card-text">{{yarn.care_instructions}}</p>
        </div>
    </div>
</div>
          
          
          
        </div>
        <a href="{% url 'home' %}" class="btn btn-secondary">Home</a>
        <a href="{% url 'yarn-update' pk=yarn.id %}" class="btn btn-info">Update</a>
        <a href="{% url 'yarn-delete' pk=yarn.id %}" class="btn btn-danger">Delete</a>
      </div>
</div>

{% endblock %}